* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #282d35;
}

nav {
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
  background: #21222a;
}

.nav--title {
  color: #deebf8;
  margin-left: auto;
}
.nav--logo_text {
  color: #61dafb;
}

.nav--icon {
  width: 30px;
  margin-right: 7px;
}

main {
  /* rather than using margin, use padding in main */
  /* margin-left: 2%; */
  padding: 57px 27px;
  color: #ffffff;
}

.main--header {
  font-weight: 700;
  margin: 0;
}

.main--list > li {
  padding-block: 10px;
}
